body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 100%;
  text-align: center;
  align-content: center;
  margin: 1%;
  padding: 3%;
}

.container {
  width: 80%;
  padding-top: 5%;
  column-count: 3;
  grid-row: auto
}

.title {
  padding-top: 2%;
  text-align: center;
  align-content: center;
}

#addToCart {
  width: 90%;
  background-color: lightgray;
}